*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: rgba(140, 152, 73, 0.694);
    color: rgb(70, 67, 84);
   
  }
  .container {
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    background-color: #eaba92;
    color: rgb(54, 52, 59);
    text-align: center;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 20px;
  }
  label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px black;
  }
  input {
    padding: 6px;
    border: 1px solid #888888;
    border-radius: 5px;
  }
  textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input,textarea {
    padding: 8px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #7ba6eb;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    background-color: #cfe67f;
    color: black;
    box-shadow: 0 4px 8px black;
    font-size: 25px;
  }
  p.success {
    text-align: center;
    color: rgb(22, 23, 22);
    margin-top: 10px;
    font-size: 18px;
  }
  p.error {
    text-align: left;
    color: red;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
  }